html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.example {
    height: 100%;
}

#left {
    float: left;
    background: white;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
}

#right {
    float: left;
    background: lightblue;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
}